body {
    background-color: #fbfbfb;
}

/* Sidebar */
.sidebar {
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        display: none; /* Ocultar el sidebar en dispositivos más pequeños */
    }
}

/* Estilos para el contenido principal */
main {
    padding-left: 15px; /* Agrega un poco de espacio a la izquierda del contenido principal */
}

  .centrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

