<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo-bg.png">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/cita.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    {% load bootstrap5 %}  
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a href="#" class="navbar-brand d-flex "  style="width: 10%; height: 10%">
            <img src="{% static 'app/img/logo-centro.png' %}" href="#"alt="" style="width: 60%; height: 60%">     
        </a>
    </div>
    </div>
  </nav>
</header>
<body>
    
    <div class="centrar">
    <div class="card" style="width: 25rem;">
    <label for="exampleDataList" class="form-label">Seleccione especialidad</label>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Buscar">
    <datalist id="datalistOptions">
      <option value="Kinesiologia">
      <option value="Médicina general">
      <option value="Ginecología">
      <option value="Oftalmogología">
      <option value="Pediatría">
    </datalist>

        <a href="{% url 'agendar' %}" class="btn btn-primary">Continuar</a>
        </div>
    </div>
</body>