<!DOCTYPE html>
{% load static %}

<html lang="en" style="background-color:lightcyan;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo-bg.png">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/paciente_cuenta.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    {% load bootstrap5 %}  
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% csrf_token %}
    
    <body class="container">
       
                {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Consultas medicas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Examenes y laboratorio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Especialidades
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reservar hora</a>
                        </li>
                    </ul> {% endcomment %}
                    
                    {% if not user_logged_in %}
                    <li class="navbar-nav nav-item" >
                      <a class="nav-link" href="{% url 'login' %}" style="font-size: 15px;">Inicia sesión</a>
                    </li>
                    {% endif %}
              
                    {% if user_logged_in %}
                    <div class="navbar">
                        <ul class="navbar-nav">
                          <a>
                            <h3>{{usuario.nombre}}</h3>
                            <img src="{% static 'app/img/user.png' %}" alt="" style="width: 20%; height: auto;">
                           </a>
                            </li>
                        </ul>
                   
                        {% endif %}
                      
                </div>
            </div>
        </nav>
    <div class="container-fluid">
                <div class="row">
            <nav id="sidebarMenu" class="col-lg-3 d-lg-block sidebar collapse bg-white">
   
        <a class="navbar-brand d-flex centrar">
            <img src="{% static 'app/img/logo-centro.png' %}" href="{% url 'index' %}" alt="" style="width: 50%; height: 50%">     
        </a>
    
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a
              href="#"
              class="list-group-item list-group-item-action py-2 ripple active"
              aria-current="true">
            
              <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Menu</span>
              
            </a>
            <a href="{% url 'index' %}" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Inicio</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"
              ><i class="fas fa-lock fa-fw me-3"></i><span>Mis datos</span></a
            >
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"
              ><i class="fas fa-chart-line fa-fw me-3"></i><span>Citas</span></a
            >
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-chart-pie fa-fw me-3"></i><span>Mis datos</span>
            </a>
            <a href="{% url 'logout_paciente' %}" class="list-group-item list-group-item-action py-2 ripple"
              ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Cerrar sesion</span>   <i class="bi bi-box-arrow-right"></i></a
            >
            
            
          
    </div>
</div>
        
      </nav>
      <main class="col-lg-9 ms-lg-auto">
        <h3>
            Hola! 
        </h3>
        <h4>{{usuario.nombre}}</h4>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Proximas citas
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                {% for cita in object_list %}
                <p>Reserva</p>
            <li>
                <strong>Fecha y Hora:</strong> {{ cita.fechaHora }}<br>
                <strong>Médico:</strong> {{ cita.medico }}<br>
                <strong>Paciente:</strong> {{ cita.paciente }}<br>
            </li>
                {% endfor %}
              </div>
            </div>
            <div style="margin-bottom: 70px;"></div>
            <p>
                Accesos directos
            </p>
            <div style="margin-bottom: 60px;"></div>
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <a href="{% url 'cita_create' %}">
                    <img src="{% static 'app/img/agenda.png' %}" class="img-fluid" style="width: 20%;" alt="imagen">
                    </a>
                    <p>Reservar</p>
                    <i class="bi bi-arrow-return-right"></i>
                  </div>
                  <div class="col">
                    <img src="{% static 'app/img/examanes.png' %}" class="img-fluid" style="width: 20%;" alt="imagen">
                    
                    <p>Resultados examenes</p>
                    <i class="bi bi-arrow-return-right"></i>
                    
                  </div>
                  
                  <div class="col">
                    <img src="{% static 'app/img/recetas.png' %}" class="img-fluid" style="width: 20%;" alt="imagen">
                    <p>Recetas</p>
                    <i class="bi bi-arrow-return-right"></i>
                  </div>
                  <div>
                    <div style="margin-bottom: 100px;"></div>
                  <img src="{% static 'app/img/cuenta.png' %}" alt="" style="width: 20%; height: auto;">
                  
                </main>
            </div>
        </div>
         <!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">

  
    <!-- Section: Social media -->
    <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"></div>
  
    <!-- Section: Links  -->
    <div class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Centro medico Galenos
  
             
            </h6>
            <p>
              Somos un centro medico donde tu salud en nuestra prioridad
            </p>
            <a href="index.html" class="navbar-brand d-flex ">
              <img src="{% static 'app/img/logo-centro.png' %}" href="index.html"alt="" style="width: 40%; height: 40%" >
            
          </a>
  
          </div>
          
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Informaciones
            </h6>
            <p>
              <a href="#!" class="text-reset">Términos y Condiciones</a>
            </p>
            <p>
              <a href="#!" class="text-reset">¿Quiénes Somos?</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contacto y Ayuda</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Comunicate con nosotros
            </h6>
            <p>
              <a href="#!" class="text-reset">Numeros de contacto</a>
              <i class="bi bi-telephone"></i>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Siguenos!</h6>
            <a class="bi bi-instagram" href="#" style="font-size: 20px; color: #3E54AC; margin: 8px;"></a>
            <a class="bi bi-facebook" href="" style="font-size: 20px; color: #3E54AC; margin: 8px;"></a>
            <a class="bi bi-twitter-x" href="" style="font-size: 20px; color: #3E54AC; margin: 8px;"></a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2016-2023 Copyright Centro medico Galenos
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
        
      
</body>